/* Sfondo principale */
.vbox-background {
    -fx-background-color: rgba(51, 51, 51, 0); /* Grigi scuro con leggera trasparenza per l'effetto blur */
    -fx-border-radius: 10px;
    -fx-background-radius: 10px; /* Arrotonda gli angoli del background */

}

.vbox-title{
    -fx-padding: 20px;
    -fx-border-radius: 10px;
}

/* Sfondo generale */
.MainPane {
    -fx-background-image: url("sfondo.jpg");
    -fx-background-size: cover;
    -fx-background-position: center ;
}
.Hbox-Padre{
    -fx-background-color:
            linear-gradient(to right, rgba(31, 31, 31, 0) 40%, rgba(0, 0, 0, 0.9) 60%);
}
/* Stile per il bottone */
Button {
    -fx-text-fill: white;  /* Colore del testo bianco */
    -fx-font-size: 18px;  /* Dimensione del font */
    -fx-font-weight: bold;  /* Font in grassetto */
    -fx-border-radius: 24px; /* Arrotondare gli angoli */
    -fx-background-radius: 24px; /* Arrotondare il background */
    -fx-pref-height: 40px;  /* Altezza preferita */

}

/* Cambia il colore del bottone quando il mouse passa sopra (hover) */
.button-text:hover {
    -fx-background-color:
        linear-gradient(to bottom right, rgba(120, 120, 120, 0.8), rgba(50, 50, 50, 0.6)); /* Cambia il gradiente per hover */
    -fx-text-fill: black;  /* Colore del testo per hover */
}

/* Cambia il colore del bottone quando viene premuto (clicked) */
.button-text:pressed {
    -fx-background-color:
        linear-gradient(to bottom right, rgba(60, 60, 60, 0.9), rgba(0, 0, 0, 0.7)); /* Cambia il gradiente per il click */
    -fx-text-fill: white;  /* Colore del testo per pressed */
}

/* Stile per le TextField e PasswordField */
TextField, PasswordField {
    -fx-background-color: rgba(100, 100, 100, 0.7);  /* Sfumatura grigia al nero */
    -fx-text-fill: white; /* Colore del testo */
    -fx-font-size: 15px;  /* Dimensione del font */
    -fx-border-radius: 10px; /* Angoli arrotondati */
    -fx-border-width: 2px; /* Bordo sottile */
    -fx-border-color: black; /* Colore del bordo */
    -fx-padding: 10px;  /* Padding interno */
    -fx-background-radius: 10px;
    -fx-pref-height: 40px; /* Imposta l'altezza preferita a 40px */
}

/* Cambia il colore quando la TextField o PasswordField è attiva (focus) */
TextField:focused, PasswordField:focused {
    -fx-background-color: linear-gradient(to bottom right, rgba(120, 120, 120, 0.8), rgba(60, 60, 60, 0.7)); /* Sfondo più chiaro quando in focus */

}

/* Stile per le Label */
.welcome-text{
    -fx-text-fill: white;  /* Colore del testo delle Label */
    -fx-font-size: 30px;  /* Dimensione del font */
    -fx-font-weight: bold;  /* Font in grassetto */
    -fx-padding: 5px;
    -fx-alignment: center;
}

.button-text{
    -fx-text-fill: white;  /* Colore del testo delle Label */
    -fx-font-size: 25px;  /* Dimensione del font */
    -fx-font-weight: bold;  /* Font in grassetto */
    -fx-padding: 5px;
    -fx-border-color: black;
    -fx-pref-width: 200px;
    -fx-alignment: center;
    -fx-background-color:rgba(100, 100, 100, 0.7);
}
.register-text{
    -fx-background-color: transparent;
    -fx-text-fill: white;  /* Colore del testo delle Label */
    -fx-font-size: 15px;  /* Dimensione del font */
    -fx-alignment: center;
}
.register-text:hover {
    -fx-underline: true; /* Aggiunge la sottolineatura al testo in hover */
}
.title-text{
    -fx-text-fill: white;  /* Colore del testo delle Label */
    -fx-font-size: 35px;  /* Dimensione del font */
    -fx-font-weight: bold;  /* Font in grassetto */
    -fx-padding: 5px;
    -fx-font-family: "Arial";
}
.warningText {
    -fx-text-fill: #ff3333;  /* Colore rosso brillante per il testo */
    -fx-font-size: 14px;     /* Dimensione del font */
    -fx-font-weight: bold;   /* Font in grassetto per enfatizzare l'avviso */
    -fx-padding: 5px 0px;    /* Padding verticale per spaziatura */
    -fx-alignment: center;   /* Allineamento centrato */
    -fx-opacity: 0.9;        /* Leggera trasparenza */
}
VBox {
    -fx-background-radius: 24px;
    -fx-border-radius: 24px;
}