.media-card {
    -fx-background-color: white;
    -fx-background-radius: 24;
}

.media-card:hover {
    -fx-background-radius: 24;
    -fx-transition: all 0.3s ease;
}

.gradient-overlay {
    -fx-background-radius: 24;
    -fx-border-radius:24;
}

.media-metadata {
    -fx-background-color: transparent;
    -fx-padding: 8;
    -fx-opacity: 1;
    -fx-transition: opacity 0.3s ease;
        -fx-background-radius: 24;
}

.media-content {
    -fx-background-color: transparent;
    -fx-padding: 8;
    -fx-spacing: 5;
    -fx-transition: opacity 0.3s ease;
        -fx-background-radius: 24;
}