/* ScrollView.css */
.scroll-view {
    -fx-max-width: Infinity;
    -fx-min-height: 0;
    -fx-background-radius: 32;
   -fx-padding: 0 0 32 0;
   -fx-fit-to-width: true;
}

/* Title styling */
.title-label {
    -fx-background-color: transparent;
    -fx-max-height: Infinity;
    -fx-font-name: Inter Regular;
    -fx-font-size: 2em;
    -fx-font-weight: bold;
    -fx-alignment: BOTTOM_LEFT;
}
/* Cards container styling */
.cards-container {
    -fx-alignment: CENTER_LEFT;
}



/* ScrollPane styling */
.scroll-view .scroll-pane {
    -fx-view-order: 2;
    -fx-background-color: transparent;
}

.scroll-view .scroll-pane > .viewport {
    -fx-background-color: transparent;
}


/* Navigation button styling */
.scroll-view .nav-button {
    -fx-background-color: transparent;
}


